In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data_28.08.2023.xlsx")

In [7]:
df.head()

,HASTA_NO,Cinsiyet,Yaş,BMI,ASA skoru (1-2-3-4),Sigara kullanımı,Sigara devamı,Ek hastalık,Antiagregan,NEU,...,Patoloji,Kas var mı,Nüks,Nüks zamanı (Ay),Nüks tm sayı,Nüks tm yerleşimi,mesane boynu,boyut,Nüks patoloji,Kas var mı.1
0,1,0,72,26.0,3,1,0,1,1,8.46,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,71,25.0,3,1,0,1,1,8.35,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,71,33.0,3,0,0,0,0,5.14,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,72,34.0,3,0,0,0,0,5.24,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,79,28.0,3,0,0,1,1,4.42,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.describe()

,HASTA_NO,Cinsiyet,Yaş,BMI,ASA skoru (1-2-3-4),Sigara kullanımı,Sigara devamı,Antiagregan,NEU,LYMP,...,Obturator,Patoloji,Kas var mı,Nüks,Nüks zamanı (Ay),Nüks tm sayı,mesane boynu,boyut,Nüks patoloji,Kas var mı.1
count,143.00000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,...,143.000000,143.000000,143.000000,143.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,72.00000,0.153846,63.160839,26.674126,2.531469,0.748252,0.272727,0.412587,5.189301,2.607552,...,0.069930,0.125874,0.496503,0.398601,11.210526,2.228070,0.140351,10.456140,0.210526,0.491228
std,41.42463,0.362069,10.266622,3.525396,0.500763,0.435543,0.446927,0.494030,1.724311,1.093794,...,0.255926,0.332873,0.501745,0.491331,8.186960,1.439463,0.350438,6.366963,0.411306,0.504367
min,1.00000,0.000000,37.000000,18.800000,2.000000,0.000000,0.000000,0.000000,2.440000,1.230000,...,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,36.50000,0.000000,55.000000,24.550000,2.000000,0.500000,0.000000,0.000000,4.105000,1.985000,...,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,6.000000,0.000000,0.000000
50%,72.00000,0.000000,64.000000,26.200000,3.000000,1.000000,0.000000,0.000000,4.730000,2.390000,...,0.000000,0.000000,0.000000,0.000000,12.000000,2.000000,0.000000,10.000000,0.000000,0.000000
75%,107.50000,0.000000,71.000000,28.765000,3.000000,1.000000,1.000000,1.000000,6.185000,3.040000,...,0.000000,0.000000,1.000000,1.000000,12.000000,3.000000,0.000000,11.000000,0.000000,1.000000
max,143.00000,1.000000,83.000000,36.000000,3.000000,1.000000,1.000000,1.000000,10.520000,9.260000,...,1.000000,1.000000,1.000000,1.000000,24.000000,5.000000,1.000000,35.000000,1.000000,1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   HASTA_NO               143 non-null    int64
 1   Cinsiyet               143 non-null    int64
 2   Yaş                    143 non-null    int64
 3   BMI                    143 non-null    float64
 4   ASA skoru (1-2-3-4)    143 non-null    int64
 5   Sigara kullanımı       143 non-null    int64
 6   Sigara devamı          143 non-null    int64
 7   Ek hastalık            143 non-null    object
 8   Antiagregan            143 non-null    int64
 9   NEU                    143 non-null    float64
 10  LYMP                   143 non-null    float64
 11  NLR                    143 non-null    float64
 12  Başvuru                143 non-null    int64
 13  TİT                    143 non-null    int64
 14  VİRADS                 143 non-null    int64
 15  Tm boyutu mm           143 non-null    int64
 16  Tm Sayı                143 non-null    int64
 17  Karakteri              143 non-null    int64
 18  Yerleşim               143 non-null    int64
 19  Mesane boynu tutulumu  143 non-null    int64
 20  Ek sistoskopi bulgu    143 non-null    int64
 21  Obturator              143 non-null    int64
 22  Patoloji               143 non-null    int64
 23  Kas var mı             143 non-null    int64
 24  Nüks                   143 non-null    int64
 25  Nüks zamanı (Ay)       57 non-null     float64
 26  Nüks tm sayı           57 non-null     float64
 27  Nüks tm yerleşimi      57 non-null     object
 28  mesane boynu           57 non-null     float64
 29  boyut                  57 non-null     float64
 30  Nüks patoloji          57 non-null     float64
 31  Kas var mı.1           57 non-null     float64
dtypes: float64(10), int64(20), object(2)
memory usage: 35.9+ KB

32